body{
  background-color: tan
}

.button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.unbuyable {
  color: #DEB887;
  background-color: #8B4513
}
.buyable {
  color: #563818;
  background-color: #E88212
}
.buyable:hover {
  background-color: #563818;
  color: #E88212
}
.bought {
  color: #ffffff;
  background-color:#a11b1b
}
  
  
